<template>
    <button :class="this.getButtonClass" @click="this.onClick">
        <slot></slot>
    </button>
</template>
<script>
export default {
    name: "Button",
    props:{
        buttonType:{
            type: String,
            default: 'primary'
        },
        size:{
            type: String,
            default: 'small'
        },
        onClick:{
            type: Function
        },
        design:{
            type: String,
            default: ''
        }
    },
    computed:{
        getButtonClass(){
            return `button btn-${this.buttonType} btn-${this.size} btn-${this.design}`
        }
    },
    mounted(){
        console.log(this.onClick)
    }
}
</script>
<style scoped>
.button{
    padding: 10px 15px;
    border: 1px solid;
    font-weight: bolder;
    letter-spacing: 1px;
}
.btn-primary{
    color: white;
    background-color: rgba(0, 0, 255, 0.904);
    border-color: rgba(0, 0, 255, 0.904);
}
.btn-secondary{
    color:  rgba(0, 0, 255, 0.904);
    background-color:rgba(216, 213, 213, 0.541);
    border-color: rgba(216, 213, 213, 0.541);
}
.btn-greyout{
    background-color: rgba(197, 195, 195, 0.767);
    color: black;
    border-color: black;
}
.btn-whitefilled{
    background-color: white;
    color: black;
    border-color: black;
}
.btn-large{
    width: 100%;
}
.btn-small{
    width: 20%;
}
.btn-rounded{
    border-radius: 3px;
}
.btn-verysmall{
    width: 10%
}
@media only screen and (max-width: 900px) {
  .btn-verysmall {
    width: 20%
  }
}
</style>
