<template>
    <div :class="getClass">
        <div class="modalWrapper">
            <div class="modalHeader">{{header}}
            <span class="close" @click="onClose">&times;</span>
            </div>
            <hr/>
            <slot></slot>
            <div class="modalFooter">
                <Button buttonType="whitefilled" design="rounded" size="small" :onClick="closeModal">Cancel</Button>
                <Button size="small" design="rounded" :onClick="sucess">Add</Button>            
            </div>
        </div>
    </div>
</template>
<script>
import Button from "./Button.vue";
export default {
    name: 'Modal',
    props:{
        header:{
            type:String,
            required: true
        },
        show:{
            type: Boolean,
            default: false
        },
        onClose:{
            type:Function
        },
        onSuccess:{
            type: Function
        }
    },
    computed:{
        getClass(){
            return 'modal' + (this.show ? ' show' : ' hide') 
        }
    },
    methods:{
        closeModal(){
            this.onClose()
        },
        sucess(){
            this.onSuccess()          
        }
    },
    mounted(){
    }
}
</script>
<style scoped>
.modal{
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
.hide{
    display: none; /* Hidden by default */
}
.show{
    display: block; /* Hidden by default */
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modalHeader{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 1%;
    font-size: 24px;
}
.modalWrapper{
    width: 50%;
    height: auto;
    left: 25%;
    top: 10%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.918);
}
.modalFooter{
    padding: 5%;
}
.modalFooter .button{
    margin-left: 5%;
}
</style>
