<template>
    <div v-if="fieldType !== 'textarea'">
    <i class="far fa-search" v-if="icontype=='search'"></i>
    <input  :class=getClass :type='fieldType' :placeholder="placeholder" :value="value" 
    :name="name" @input="$emit('input',$event.target.value)" @keyup.enter="onEnter()"/>
    </div>
    <textarea v-else class="inputfield" :placeholder="placeholder" :value="value" 
    :name="name" @input="$emit('input',$event.target.value)"></textarea>
</template>
<script>
export default {
    name: 'Textinput',
    props:{
        fieldType:{
            type: String,
            default: 'text'
        },
        placeholder:{
            type: String,
            default: ''
        },
        value:{
            type: String,
            required: true
        },
        size:{
            type: String,
            default: ''
        },
        icontype:{
            type: String,
            default: ''
        },
        name:{
            type:String,
            required: true
        },
        onEnter:{
            type:Function,
        }
    },
    computed:{
        getClass(){
            return "inputfield "+ this.size
        }
    }
}
</script>
<style scoped>
.inputfield{
    width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color: rgba(0, 0, 255, 0.904);
  border-radius: 10px;
}
i {
   position: absolute;
    margin-left: 8px;
    top: 25px;
}
div{
    display: inline;
}
.small{
    width: 20%;
    padding: 8px 20px;
}
.icon {
    padding: 10px;
    min-width: 40px;
   
}
</style>
