.header{
    box-shadow: 0px 5px #d9d4d47d;
    width: 100%;
}
.home{
    padding: 5px;
    height: 100%;
}
h3{
    display: inline;
}
#addlistbutton{
    float: right;
    margin-right:10px;
}
.nocard,.nolist{
    height: 85%;
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}
.addListContainer{
    width: 80%;
    margin: auto;
}
.favourite{
    color: rgba(250, 250, 62, 0.884);
}
.listContent{
    width: 300px;
    height: 500px;
    background-color: rgba(247, 248, 250);
    padding: 2%;
    border-top: 5px solid blue;
    border-radius: 5px 5px 0px 0px;
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
.listContent::-webkit-scrollbar {
    display: none;
}
.lists{
    display: flex;
}
.listhead{
    margin: 10px 0px 20px 5px;
}
.listhead hr{
    border: 1px;
}
.listContainer{
    margin: 15px;
}
.listtitle,.cardtitle{
    display: inline;
}
.cardbutton{
    background-color: rgba(247, 248, 250);
    border-radius: 0px 0px 5px 5px;   
    width: 300px;
    padding: 0px 2%; 
}
.listcount{
    background-color: rgba(231,236,240);
    border-radius: 100%;
    padding: 5px 10px !important;
}
.rightalignicon{
    float: right;
    padding: 0px 5px;
}
.carddesc{
    word-wrap: break-word;
}
.cardcontainer{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 0.5px;
    margin-top: 10px;
    padding-top: 5px;
    margin: 10px 0px;
}
.errors{
    list-style-type: none;
    color: rgb(219, 73, 73);
}