<template>
    <div>
    <div :class="getClassName(list.listName)" v-for="list in lists" :key="list.listName"
        @drop='onDrop($event, list.listName)' 
      @dragover.prevent
      @dragenter.prevent >
      <div v-for='card in list.cardDetails' :key='card.id' class='drag-el' draggable
        @dragstart='startDrag($event, list.listName,card.id)'>
        {{ card.title }}
      </div>
    </div>
    <!-- <div class='drop-zone1' @drop='onDrop($event, 2)' 
      @dragover.prevent
      @dragenter.prevent >
      <div v-for='item in listTwo' :key='item.title' class='drag-el' draggable
        @dragstart='startDrag($event, item)' >
        {{ item.title }}
      </div>
    </div> -->
  </div>
</template>
<script>
export default {
    name:'Draggable',
    data () {
        return {
            lists: [
            {
                listName: 'inprogress',
                cardDetails:[{title:'study',id:'inprogress-1'},{title:'write',id:'inprogress-2'}],
            },
            {
                listName: 'done',
                cardDetails:[{title:'study2',id:'done-1'},{title:'write2',id:'done-2'}],
            },
            {
                listName: 'todo',
                cardDetails:[{title:'study3',id:'todo-1'},{title:'write3',id:'todo-2'}],
            },]
        }
    },
    computed: {
        listOne () {
        return this.items.filter(item => item.list === 1)
        },
        listTwo () {
        return this.items.filter(item => item.list === 2)
        }
    },
    methods:{
        getClassName(lname){
            return 'drop drop-zone'+lname
        },
        startDrag: (evt, listname,card) => {
            evt.dataTransfer.dropEffect = 'move'
            evt.dataTransfer.effectAllowed = 'move'
            console.log(listname)
            evt.dataTransfer.setData('itemID', listname)
            evt.dataTransfer.setData('cardid',card)
        },
        onDrop (evt, droplist) {
            const itemID = evt.dataTransfer.getData('itemID')
            const cardID = evt.dataTransfer.getData('cardid')
            console.log(droplist,'droparea')
            console.log(itemID,cardID)
            const item = this.lists.filter(item => item.listName === itemID)[0].cardDetails
            .filter(c=>{
                return c.id === cardID
            })[0]
            
            this.lists.forEach((l)=>{
                if(l.listName === itemID) {
                    console.log('remove part',l.listName, itemID)
                    l.cardDetails = l.cardDetails.filter(c=>{
                        console.log(c.id,cardID)
                        return c.id !== cardID
                    })
                }
            })
            this.lists.forEach((l)=>{
                if(l.listName === droplist){
                    item.id = l.listName + '-' + (l.cardDetails.length+1)
                    l.cardDetails.push(item)
                }
            })
            console.log(this.lists)
        }
    }
}
</script>
<style scoped>
  .drop {
    background-color: #eee;
    margin-bottom: 10px;
    padding: 10px;
    min-height: 10px;
  }

  .drag-el {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 5px;
  }
  
</style>