<template>
  <div class="home">
    <div class="header">
        <h3>To-Do List</h3>
        <Textinput size="small" icontype="search" :value="searchKey" fieldType="text"
         placeholder="Search" v-model="searchKey" name="search" :onEnter="searchItem"/>       
        <Button id="addlistbutton" buttonType="primary" size="verysmall" :onClick="addList">Add List</Button>
    </div>
    <Modal header="Add list" :show="showAddList" :onClose="hideAddPopUp" :onSuccess="okClicked">
      <div class="addListContainer">
        <label for="newlist">Title</label><br/>
        <Textinput :value="newList" fieldType="text" placeholder="List title" v-model="newList" name="newlist"/><br/>
        <li class="errors" v-for="(err,idx) in errorObj.list" :key="idx">
          {{err}}
        </li>
      </div>
    </Modal>
    <Modal header="Add Card" :show="showAddCard" :onClose="hideAddCard" :onSuccess="cardAddition">
      <div class="addListContainer">
        <label for="cardTitle">Title</label><br/>
        <Textinput :value="newCardTitle" fieldType="text"
        placeholder="Card title" v-model="newCardTitle" name="cardTitle"/><br/>
        <label for="cardDesc">Description</label><br/>
        <Textinput :value="newCardDesc" :fieldType="'textarea'" 
        placeholder="Card desc" v-model="newCardDesc" name="cardDesc"/>
        <br>
        <li class="errors" v-for="(err,idx) in errorObj.card" :key="idx">
          {{err}}
        </li>
      </div>
    </Modal>
    <div class="nolist" v-if="!getList.length"><h4>No Card Available</h4></div>
    <!-- {{getList}} -->
    <div class="lists">
      <div :class="getClassName(list.listName)" v-if="getList.length" v-for="list in filterList" :key="list.listName" 
        @drop='onDrop($event, list.listName)' 
        @dragover.prevent
        @dragenter.prevent>
        <div class="listContent">
          <div class="listhead">
            <h4 class="listtitle">{{list.listName}}</h4>
            <span class="listcount">{{list.cardDetails.length}}</span>
            <i class="fal fa-trash rightalignicon listcount" @click="deleteList(list.listName)"></i>
            <hr>
          </div>
          <div class="cardcontainer" v-if="list.cardDetails.length" v-for="card in getsort(list.listName)" 
            :key="card.id" draggable @dragstart='startDrag($event, list.listName,card.id)'>
            <h4 class="cardtitle">{{card.title}}</h4>
            <i :class="[card.isFav ? 'fas fa-star favourite rightalignicon' : 'fal','fa-star rightalignicon']" @click="flagFav(list.listName, card.id)"></i>
            <i class="fal fa-trash rightalignicon" @click="deleteCard(list.listName, card.id)"></i>
            <p class="carddesc">{{card.desc}}</p>
          </div>
          <div v-if="!list.cardDetails.length" class="nocard">
            <h5>No card Available</h5>
          </div>
          
        </div>
        <div class="cardbutton">
            <Button buttonType="secondary" size="large" :onClick="()=>{addCard(list.listName)}">
              <i class="fas fa-plus"></i>Add Card
            </Button>
          </div>
      </div>
    </div>
  </div>
</template>
<script>
import "../styles/Home.css";
import commonmixin from "../helper/commonmixin";
import { mapGetters } from 'vuex'
export default {
  name: 'Home',
  data () {
    return {
      searchKey: '',
      showAddList: false,
      showAddCard: false,
      newList: '',
      newCardTitle: '',
      newCardDesc: '',
      selectedList: '',
      filterList: [],
      errorObj:{
        list: [],
        card: []
      }
    }
  },
  mixins:[commonmixin],
  computed:{
     getsort(list){
       return list=>{
         return this.sort('date','createdDate',this.shallowCopy(this.filterList.filter((l)=>{
           return l.listName === list
         })[0].cardDetails),'desc')
       }
    },
    ...mapGetters([
      'getList'
    ])
  },
  methods:{
    getClassName(lname){
      return 'listContainer drop'+lname
    },
    addList(){
      this.showAddList = true
    },
    addCard(listname){
      this.selectedList = listname
      this.showAddCard = true
    },
    hideAddPopUp(){
      this.newList = ''
      this.errorObj = {
        list: [],
        card: []
      }
      this.showAddList = false
    },
    hideAddCard(){
      this.newCardTitle = ''
      this.newCardDesc = ''
      this.showAddCard = false
    },
    /**
     * Method to handle list addition
     */
    okClicked(){
      this.errorObj.list = []
      if(this.getList.filter((l)=>{
        return l.listName.toLowerCase() === this.newList.toLowerCase()
      }).length){
        this.errorObj.list.push('List name already exist')
        return
      }
      if(this.newList !== ''){
        this.$store.dispatch('addList',{
          listName: this.newList,
          cardDetails: [],
          createdDate: new Date()
        })
        this.filterList = this.shallowCopy(this.sort('date','createdDate',this.getList,'asc'))
        this.setInLocalStorage('todolist',this.filterList)
        this.newList = ''
        this.hideAddPopUp()
      } else{
        this.errorObj.list.push('List title is required')
      }
    },
    cardAddition(){
      let cardObj = {}
      this.errorObj.card = []
      if(this.newCardTitle !== ''){
        cardObj.title = this.newCardTitle
        cardObj.desc = this.newCardDesc
        cardObj.isFav = false
        // Finding the maximum number in id and creating a new id as the next number to the maximum number
        cardObj.id = this.selectedList+ '-' + (Math.max(this.getList.filter((l)=>{return l.listName === this.selectedList})[0].cardDetails.map(c=> Number(c.id.split('-')[1])))+1)
        cardObj.createdDate = new Date()
        this.$store.dispatch('addCardToList',{
            'listkey':this.selectedList,
            'cardObj': cardObj
          })
        this.setInLocalStorage('todolist',this.getList)
        this.newCardTitle = ''
        this.newCardDesc = ''
        this.hideAddCard()
      } else{
        this.errorObj.card.push('Card title is required')
      }
    },
    /**
     * Method will take listid as param and delete the list
     */
    deleteList(listkey){
      console.log(listkey)
      this.$store.dispatch('deleteList',{
          'listkey':listkey,
      })
      this.setInLocalStorage('todolist',this.getList)
      this.filterList = this.shallowCopy(this.getList)         
    },
    deleteCard(listkey, cardid){
      this.$store.dispatch('deleteCard',{
          'listkey':listkey,
          'cardid': cardid
      })
      this.setInLocalStorage('todolist',this.getList)
      this.filterList = this.shallowCopy(this.getList)
    },
    flagFav(listkey, cardid){
      this.$store.dispatch('flagFavourite',{
          'listkey':listkey,
          'cardid': cardid
      })
      this.setInLocalStorage('todolist',this.getList)      
    },
    /**
     * method initate when we drag any draggable element and set listname from where we dragging and which card we are dragging
     */
    startDrag: (evt, listname,card) => {
      evt.dataTransfer.dropEffect = 'move'
      evt.dataTransfer.effectAllowed = 'move'
      evt.dataTransfer.setData('itemID', listname)
      evt.dataTransfer.setData('cardid',card)
    },
    /**
     * In this method we will capture where we are dropping the draggable item and logic for replacing
     */
    onDrop (evt, droplist) {
      const itemID = evt.dataTransfer.getData('itemID')
      const cardID = evt.dataTransfer.getData('cardid')
      let modificationarray = this.shallowCopy(this.filterList)
      const item = modificationarray.filter(item => item.listName === itemID)[0].cardDetails
            .filter(c=>{
                return c.id === cardID
            })[0]
      modificationarray.forEach((l)=>{
          if(l.listName === itemID) {
              console.log('remove part',l.listName, itemID,l.cardDetails.filter(c=>{
                console.log(c.id,cardID)
                return c.id !== cardID
              }))
              l.cardDetails = l.cardDetails.filter(c=>{
                console.log(c.id,cardID)
                return c.id !== cardID
              })
          }
      })
      let temp2 = this.shallowCopy(modificationarray)
      temp2.forEach((l)=>{
        if(l.listName === droplist){
            item.id = l.listName + '-' + (Math.max(l.cardDetails.map(c=> Number(c.id.split('-')[1])))+1)
            l.cardDetails.push(item)
        }
      })
      this.$store.dispatch('updateList',{
          'list':temp2,
      })
      this.filterList = this.shallowCopy(temp2)
      this.setInLocalStorage('todolist',this.filterList)      
    },
    searchItem(){
      let temp = this.shallowCopy(this.getList)
      if(this.searchKey !== '') {
        temp.forEach((l)=>{
          l.cardDetails = l.cardDetails.filter((c)=>{
            return c.title.toLowerCase().includes(this.searchKey.toLowerCase())
          })
        })
      }
      this.filterList = this.shallowCopy(this.sort('date','createdDate',temp,'asc'))
    }
  },
  mounted(){
    this.filterList = this.shallowCopy(this.sort('date','createdDate',this.shallowCopy(this.getList),'asc'))
  },
  watch:{
    searchKey(n,o){
      if(n === '' && o !== ''){
        this.filterList = this.shallowCopy(this.sort('date','createdDate',this.shallowCopy(this.getList),'asc'))        
      }
    }
  }
}
</script>
